
*{
    background-color: #dbb3ca;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display:flex;
    flex-direction: column;    
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 150px;
}

.btn{
    background-color: aliceblue;
    border: 0;
    justify-content: space-between;
    padding: 10px 25px;
    margin: 30px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow:0.5rem 1rem 2rem hsla(0, 2%, 20%, 0.4);
}
.img1{
    border-radius: 70px;
}

h1{
    font-size: 43px;
}
h2{
    font: 25px;
    margin-top: 20px;

}

.container2{
    display:flex;
    flex-direction: column;    
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 150px;
}
.img2{
    border-radius: 10px;
    width: 400px;
    box-shadow:0.5rem 1rem 2rem hsla(0, 2%, 20%, 0.2);
}